<html>
  <head>
    <title> DATA VISUALIZATION ASSIGNMENT </title>

  </head>
  <body>
      <h1 align="center">Government expenditure on education as % total government expenditure from 2009 - 2018  </h1>

      <div class="cell">
        <p class="main-text" align="center">
          Group Bargraph showing the Government expenditure on education as % total government expenditure of African countries from 2009-2018
          
        </p>
        <p>
          <img src="static\data_2010.png" width="70%" >

          <br>

          <br>


          <img src="static\data_2011.png" width="70%" >

          <br>

          <br>





          <img src="static\data_2012.png" width="70%" >


          <br>
          <br>




          <img src="static\data_2013.png" width="70%" >


          <br>
          <br>





          <img src="static\data_2014.png" width="70%" >



          <br>
          <br>



          <img src="static\data_2015.png" width="70%" >


          <br>
          <br>


          

          <img src="static\data_2016.png" width="70%" >




          <br>
          <br>



          <img src="static\data_2017.png" width="70%" >



          <br>
          <br>




          <img src="static\data_2018.png" width="70%" >
          <br>
          <br>







          <img src="static\data_2019.png" width="70%" >
          
          
          <br>
          <br>
        </p>

      </div>

      
      


  </body>
</html>
